{% extends "header.html" %}
{% block footer1 %}
<section class="row">
{% endblock %}
    {% block mappa %}
    <article class="col-sm-6">
      <p>Site's map</p>
      <ul class="list">
        <li class="active">Home</li>
        <li><a href="applications.html"><abbr title="applications">Apps</abbr></a></li>
        <li><a href="applications/QuickAlgebra.html">Quick Algebra</a></li>
        <li><a href="applications/QuickAlgebraFree.html">Quick Algebra Free</a></li>
        <li><a href="applications/QuickFit.html">Quick Fit</a></li>
        <li><a href="applications/SimpleBubbleShooter.html">Simple Bubble Shooter</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </article>
    {% endblock %}
    {% block footer2 %}
    <article class="col-sm-6">
      <p>Contacts</p>
      <ul class="list">
        <li><a href="https://www.facebook.com/stuckintheflow/?fref=ts" target="_blank">Facebook</a></li>
        <li><a href="mailto:giovanni.rodighiero@outlook.it">Email</a></li>
      </ul>
    </article>
</section>
<p class="copyright">Copyright (c) 2016 Copyright Holder All Rights Reserved.</p>
{% endblock %}
