@import "shared";
.navbar-default{
  background-color: white;
  border-color: $blue;
}
.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar .container-fluid{
  padding-right: 0px;
}
.container-fluid>.navbar-header{
  margin-right: 0px;
}
.navbar-default .navbar-toggle{
  border-radius: 0px;
  border-color: $blue;
}
.navbar-default .navbar-toggle:hover{
  background-color: $blue;
  color: white;
}
.navbar-default .navbar-brand{
  color:$blue;
}
.navbar-brand{
  height: 15px;
  margin: 0px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: $blue;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
  background-color: $blue;
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $blue;
}
.navbar-right li, .navbar-default .navbar-nav>li>a{
  color: $blue;
}
.navbar-right .active{
  padding: 15px;
  background-color: $blueChiaro;
  color: white;
  line-height: 20px;
}
.navbar-default .navbar-nav>li>a:hover{
  background-color: $blue;
  color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: $blue;
  color: white;
}
.dropdown-menu>li>a:hover{
  background-color: $blue;
  color: white;
}
.dropdown-menu li{
  font-size: 1.1em;
}
.dropdown-menu .active{
  padding: 3px 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .nav.navbar-nav>.custom-active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .nav.navbar-nav>.custom-active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .nav.navbar-nav>.custom-active>a:focus{
  background-color: $blueChiaro;
  color:white;
}
